.type
{
  /* display:flex;
  justify-content:center;
  margin-top:10px; */
}
.App{
  width:100%
}

.dropdown{
}
.dropdown-info {
  text-align: right;
  max-width: 800px;
  width: 100%;
  margin: auto;
  margin-bottom: 16px;
}
.row5 {
  display: flex;
  max-width: 800px;
  width: 100%;
  margin: auto;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.22);
  border-radius: 13px;
  padding: 8px;
  margin-bottom: 16px;
}
.row3 {
  display: flex;
  align-items:center;
}
.row4 {
  width: 100%;
    padding-left: 14px;
}
.row4 p {
  margin-bottom: 0;
}
.con{
  display: inline-block;
	width: 1200px;
	min-height: 50px;
	height: auto;
  margin-bottom:40px;
}
.div1
{
  float:right;
}
.div2
{
  margin-left:800px;
}
.dropdown{
  width:180px;
  height:30px;
  border-radius:5px;
  background-color:white;
}

.image
{
  margin-left:500px;
  margin-bottom:-20px;
}
.book-detail{
  margin-top:30px
}

.Loader-center{
  margin-left:550px;
  margin-top:100px;
  z-index:1
}
